<h1>Editing Train Route</h1>
<div class="row justify-content-center">

    <%= render 'form', train_route: @train_route %>

    <%= link_to 'Show', @train_route %> |
    <%= link_to 'Back', train_routes_path %>
</div>