<h1>Buy ticket</h1>
<div class="row justify-content-center">

    <%= render 'buy_form', transaction: @transaction %>

</div>
    <%= link_to 'Show', @transaction %> |
    <%= link_to 'Back', transactions_path %>